.container {
  padding: 150px;
}

.card {
  border: 2px solid #dc8c14;
  border-radius: 4px;
  width: 1038px;
  height: 170px;
}
.number {
  width: 27px;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #dc8c14;
  color: aliceblue;
  border-bottom-right-radius: 4px;
  text-align: center;
  margin-top: -1px;
  margin-left: -1px;
  padding: 7px 0;
  padding-right: 1px;
}
.top_menu {
  font-family: sans-serif;
  color: rgb(164, 164, 161);
  display: flex;
  margin: 0;
  padding: 0;
  width: 250px;
  font-weight: bold;
  gap: 25px;
}
.bottom_menu {
  display: flex;
  font-family: sans-serif;
  color: rgb(143, 143, 140);
  padding: 0;
  margin-top: 30px;
  width: 200px;
  font-weight: bold;
  gap: 50px;
}

.top_menu p {
  font-size: 14px;
}

.view {
  color: #dc8c14;
}
.bottom_menu p,
.top_menu p {
  display: flex;
  gap: 7px;
  font-size: 14px;
  /* font-weight: inherit; */
}
.wrapper {
  display: flex;
  flex-grow: 1;
  padding: 0 20px 20px 20px;
  margin-top: 5px;
  gap: 45px;
}
.wrapper p,
.wrapper h3 {
  margin: 0;
}

.wrapper h3 {
  margin-top: 22px;
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0;
}

.img {
  padding-left: 27px;
  padding-top: 14px;
}
